    <div>
            <p><label>Icon</label></p>
            <ul>
                <li>Title</li>
                <li>Description</li>
                <li>Version</li>
                <li>Developed By</li>
                <li>Supported By</li>
                <li>Version History</li>
                <li>Code Repository</li>               
            </ul>
            <p class="addRecordIcon"><span class="glyphicon glyphicon-plus"></span></p>
            <p><span class="glyphicon glyphicon-pencil"></span></p>
            <p><span class="glyphicon glyphicon-remove"></span></p>
    </div>