<app-header></app-header>
<app-nav-bar></app-nav-bar>
<section>
        <app-list-view></app-list-view>
        <ul>
            <li>Android</li>
            <li>Learn everything you need to know about Angular 4. Angular 4 is the newest MVC framework from Google, which is the next release of Angular2. Getting started with Angular 4 is easy with the video tutorials published.</li>
            <li>Learn everything you need to know about Angular 4. Angular 4 is the newest MVC framework from Google, which is the next release of Angular2. Getting started with Angular 4 is easy with the video tutorials published.</li>
            <li>Learn everything you need to know about Angular 4. Angular 4 is the newest MVC framework from Google, which is the next release of Angular2. Getting started with Angular 4 is easy with the video tutorials published.</li>
            <li>Learn everything you need to know about Angular 4. Angular 4 is the newest MVC framework from Google, which is the next release of Angular2. Getting started with Angular 4 is easy with the video tutorials published.</li>
            <li>Learn everything you need to know about Angular 4. Angular 4 is the newest MVC framework from Google, which is the next release of Angular2. Getting started with Angular 4 is easy with the video tutorials published.</li>
            <li>Learn everything you need to know about Angular 4. Angular 4 is the newest MVC framework from Google, which is the next release of Angular2. Getting started with Angular 4 is easy with the video tutorials published.</li>
            <li>Learn everything you need to know about Angular 4. Angular 4 is the newest MVC framework from Google, which is the next release of Angular2. Getting started with Angular 4 is easy with the video tutorials published.</li>
            <li>Learn everything you need to know about Angular 4. Angular 4 is the newest MVC framework from Google, which is the next release of Angular2. Getting started with Angular 4 is easy with the video tutorials published.</li>
            <li>Learn everything you need to know about Angular 4. Angular 4 is the newest MVC framework from Google, which is the next release of Angular2. Getting started with Angular 4 is easy with the video tutorials published.</li>
            <li>Learn everything you need to know about Angular 4. Angular 4 is the newest MVC framework from Google, which is the next release of Angular2. Getting started with Angular 4 is easy with the video tutorials published.</li>
            <li>Learn everything you need to know about Angular 4. Angular 4 is the newest MVC framework from Google, which is the next release of Angular2. Getting started with Angular 4 is easy with the video tutorials published.</li>   
        </ul>
</section>